/* This is the css that contain darkmode colors */

html,
body {
    background-color: white;
}

.topBar {
    background-color: rgb(226, 223, 223);
}

.torBarElementsWrapper button {
    background-color: white;
    border-color: black;
    color: black;
}


.torBarElementsWrapper button:hover {
    background-color: rgba(239, 237, 237, 0.874);
}

.torBarElementsWrapper button:active {
    background-color: rgba(216, 215, 215, 0.694);
}

.topBarMenu {
    background-color: white;
    border-color: black;
}

.topBarMenu button {
    background-color: rgb(236, 233, 233);
    border-color: black;
}


#exportMenu hr {
    background-color: black;
}


#codespaceContainer {
    border-color: gray;
}

#htmlEditorTab,
#cssEditorTab,
#jsEditorTab {
    background-color: rgb(188, 186, 186);
    color: white;
}

#resizeBar {
    background-color: aliceblue;
    border-color: black;
}

#resizeBar div {
    background-color: lightgray;
}

#previewAreaWrapper {
    background-color: white;
}

#console {
    background-color: white;
    color: black;
}

#consoleInput {
    background-color: white;
    color: black;
}

.consoleInputArrow {
    background-color: white;
    color: black;
}

#consoleResizeBar {
    background-color: aliceblue;
    border-color: black;
}

.consoleResizeBarHandle {
    background-color: lightgray;
}

#openOrCloseConsoleButton {
    background-color: white;
}

#clearConsoleButton {
    background-color: white;
}

#codeRunningMessage {
    background-color: rgb(2, 242, 2);
    color: white;
    box-shadow: 0 0 2px 2px lightgray;
}

/* Search JS Library*/

#jsLibSideBar {
    background-color: rgb(223, 223, 223);
}

#jsLibSideBar h1 {
    color: black;
}

#jsLibSideBar p {
    color: black;
}

#jsLibSideBar a {
    color: blue;
}

#CDNJSsearchBar .CNDJSSEARCHBARinput {
    background-color: white;
    color: black;
    border-color: lightgray;
}

#CDNJSsearchBar .CNDJSSEARCHBARinput:focus {
    border-color: blue;
}

#CDNJSsearchBar .CNDJSSEARCHBARsub {
    border-color: lightgray;
    background-color: rgb(243, 242, 242);
    color: gray;
}

#CDNJSsearchResultDsipalyContainer {
    background-color: gray;
    border-color: lightgray;
}

#CDNJSsearchResultDsipalyContainer::-webkit-scrollbar {
    background-color: white;
}

#CDNJSsearchResultDsipalyContainer::-webkit-scrollbar-thumb {
    background-color: rgb(140, 137, 137);
}

#CDNJSsearchResultDsipalyContainer .resultListObject {
    background-color: rgb(167, 164, 164);
    color: white;
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContent {
    background-color: rgb(75, 75, 75);
    border-color: white;
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContentCopyButton {
    background-color: gray;
    color: white;
    border-color: white;
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContentCopyButton:hover {
    background-color: rgb(143, 142, 142);
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContentCopyButton:active {
    background-color: rgb(175, 172, 172);
}

#CDNJSsearchResultDsipalyContainer .resultListObjectDividingLine {
    background-color: white;
}

/* Shortcut Guide */
#shortcutsGuideSideBar {
    background-color: #dfdfdf;
}

#shortcutsGuideSideBar h1 {
    color: black;
}

#shortcutsGuideSideBar li {
    color: black;
}