body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.editor {
    width: 600px;
    height: 700px;
    background-color: rgb(39, 39, 39);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    overflow-y: auto;
}

.textareaWrapper {
    position: relative;
}

#HTMLEditorIndexsDisplay,
.HTMLEditorIndexsBackground {
    line-height: 15px;
    position: absolute;
    left: 0px;
    width: 20px;
    height: fit-content;
    background-color: rgb(39, 39, 39);
    color: rgb(154, 152, 152);
    font-family: arial;
    font-size: 14px;
    user-select: none;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 0px  1px 0px 0px;
}

.HTMLEditorIndexsBackground {
    height: 700px;
}

.textArea {
    position: absolute;
    background: none;
    top: 0px;
    left: 20px;
    width: 580px;
    height: 500px;
    padding: 0px;
}


#HTMLEditorPlaceholder {
    position: absolute;
    top: -12px;
    left: 23px;
    color: rgb(136, 135, 135);
    font-family: monospace;
    font-size: 12px;
}

.editor pre {
    margin: 0px;
    padding: 0px;
}

.editor pre {
    margin: 0px;
    padding: none;
    line-height: 15px;
    margin: 0px;
    color: white;
    font-size: 14px;
}

.editor pre:focus {
    outline: none;
}