html,
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: rgb(110, 110, 110);
    z-index: 3;

}

.torBarElementsWrapper {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 4;
}

.torBarElementsWrapper button {
    width: 100px;
    height: 30px;
    background-color: rgb(180, 178, 178);
    z-index: 4;
    position: absolute;
    top: 5px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    user-select: none;
}

.torBarElementsWrapper button:focus {
    outline: none;
}

.torBarElementsWrapper button:hover {
    background-color: rgba(180, 178, 178, 0.874);
}

.torBarElementsWrapper button:active {
    background-color: rgba(180, 178, 178, 0.694);
}

#topBarExportBtn {
    position: absolute;
    right: 5px;
}

#previewOption {
    position: absolute;
    right: 110px;
}

#getJSLIB {
    position: absolute;
    right: 215px;
}

.topBarMenu {
    position: fixed;
    top: 34px;
    width: 200px;
    background-color: rgb(110, 110, 110);
    z-index: 200;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: none;
}

.topBarMenu button {
    width: 180px;
    height: 30px;
    margin-left: 10px;
    margin-top: 4px;
    text-align: left;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
}

#exportMenu {
    right: 5px;
    height: 164px;
}

#exportMenu hr {
    width: 100%;
    border: none;
    background-color: black;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 4px;
}

#previewMenu {
    right: 110px;
    height: 120px;
}

#codespaceContainer {
    margin: 0px;
    margin-top: 60px;
    margin-left: 0px;
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

#editors {
    position: relative;
    width: 500px;
    height: 100%;
}

#htmlEditorTab,
#cssEditorTab,
#jsEditorTab {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 80px;
    height: 30px;
    background-color: rgb(91, 90, 90);
    color: white;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    user-select: none;
}

#htmlEditorTab {
    left: 30px;
}

#cssEditorTab {
    left: 110px;
}

#jsEditorTab {
    left: 190px;
}

#HTMLeditor,
#CSSeditor,
#JSeditor {
    position: absolute;
    bottom: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
}

#resizeBar {
    cursor: e-resize;
    position: absolute;
    top: 0px;
    left: 500px;
    width: 15px;
    height: 100%;
    background-color: aliceblue;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: black;
}

#resizeBar div {
    background-color: lightgray;
    width: 5px;
    height: 90px;
    border-radius: 5px;
    pointer-events: none;
}

#previewAreaWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    border: none;
    z-index: 5;
    background-color: white;
}

#previewArea {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

#preview {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 26px);
    border: none;
    z-index: 4;
}

#console {
    margin: 0;
    cursor: text;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: left;
    font-family: monospace;
    z-index: 5;
    overflow-y: auto;
}

#consoleInput {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    right: 0;
    bottom: 0;
    z-index: 6;
    width: calc(100% - 20px);
    height: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
    font-family: monospace;
    text-align: left;
    z-index: 5;
}

#consoleInput:focus {
    outline: none;
}

.consoleInputArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    z-index: 6;
    width: 20px;
    height: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
    font-family: monospace;
    text-align: left;
    z-index: 5;
}

#consoleResizeBar {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 25px;
    background-color: aliceblue;
    border-color: black;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    cursor: n-resize;
    z-index: 6;
}

.consoleResizeBarHandle {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 45px);
    background-color: lightgray;
    width: 90px;
    height: 5px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    pointer-events: none;
    z-index: 6;

}

#openOrCloseConsoleButton {
    cursor: pointer;
    position: absolute;
    left: 3px;
    bottom: 2px;
    width: 110px;
    height: 80%;
    font-size: 13px;
    background-color: white;
    border-radius: 20px;
    border-width: 1px;
    z-index: 6;
    user-select: none;
}

#consolepanels {
    display: none;
}

#clearConsoleButton {
    cursor: pointer;
    position: absolute;
    right: 3px;
    bottom: 2px;
    width: 110px;
    height: 80%;
    font-size: 13px;
    background-color: white;
    border-radius: 20px;
    border-width: 1px;
    z-index: 8;
    user-select: none;
}

#codeRunningMessage {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 150px;
    height: 20px;
    border: none;
    background-color: rgb(2, 242, 2);
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: arial;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px lightgray;
}

/* Search JS Library*/

#jsLibSideBar {
    position: absolute;
    top: 61px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 100px);
    background-color: rgb(102, 108, 126);
    z-index: 90;
}

#jsLibSideBar h1 {
    text-align: center;
    font-family: arial;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

#jsLibSideBar p {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    font-family: arial;
}

#CDNJSsearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#CDNJSsearchBar .CNDJSSEARCHBARinput {
    width: 260px;
    height: 30px;
    font-size: 20px;
    text-align: left;
    background-color: rgb(174, 173, 173);
    color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px 0px 2px 2px;
    border-radius: 5px 0px 0px 5px;
}

#CDNJSsearchBar .CNDJSSEARCHBARinput:focus {
    outline: none;
    border-color: rgb(163, 211, 247);
}

#CDNJSsearchBar .CNDJSSEARCHBARsub {
    margin-left: 0px;
    width: 80px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 0px 5px 5px 0px;
    background-color: gray;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#CDNJSsearchResultDsipalyContainer {
    width: 340px;
    height: calc(100% - 190px);
    background-color: gray;
    margin-left: 30px;
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightgray;
    overflow-y: auto;
    overflow-x: hidden;
}

#CDNJSsearchResultDsipalyContainer::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 0 3px 3px 0px
}

#CDNJSsearchResultDsipalyContainer::-webkit-scrollbar-thumb {
    background-color: rgb(140, 137, 137);
    border-radius: 2px;
}

#CDNJSsearchResultDsipalyContainer .resultListObject {
    width: 300px;
    height: fit-content;
    background-color: rgb(167, 164, 164);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#CDNJSsearchResultDsipalyContainer p {
    margin-left: 0px;
    margin-bottom: 4px;
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContent {
    width: 290px;
    background-color: rgb(75, 75, 75);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0px;
    font-family: monospace;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    overflow-wrap: break-word;
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContentCopyButton {
    margin-left: 245px;
    margin-top: 2px;
    background-color: gray;
    color: white;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    width: 43px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: Center;
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContentCopyButton:hover {
    background-color: rgb(143, 142, 142);
}

#CDNJSsearchResultDsipalyContainer .resultListObjectCodeContentCopyButton:active {
    background-color: rgb(175, 172, 172);
}

#CDNJSsearchResultDsipalyContainer .resultListObjectDividingLine {
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
}